* {
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  
  background: #f9f9f9;
  color: #333;
  margin: 0;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

}

.container {
  width: 100%;
  padding: 2em;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

#title {
  margin: 0.625em 0 0.625em;
  text-align: center;
  color: #0077cc;
  font-size: 2.5em;
  font-weight: bold;
}

#description {
  margin: 1em 0;
  text-align: center;
  color: #888;
  font-size: 1.2em;

}

#survey-form {

  width: 100%;
  min-width: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em; 
  padding-right: 2em;
  margin: 0 auto;
}


fieldset {
  width: 100%;
  border: 1px solid #ccc;
  margin: 1em auto;
  border-radius: 10px;


}

legend {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em; 

  }

 

label {
  display: block;
  margin: 0.5rem 1rem;  
}
 
 .radio-label {
  display: flex;
  flex-direction: row;
}

.radio-label span {
  margin-top: 14px;
}


input,
textarea,
select  {
  background-color: #fff;
  color: #333;
  margin: 10px 0 0 0;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 10px;
   
 }

select {
display: block;
width: 95%;
margin: 0 auto;

}

.inline {
  width: unset;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
  
  }

textarea {
  padding-bottom: 80px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  height: 4.0rem;
  font-size: 1.1rem;
  background-color: #0077cc;
  color: white;
  border-color: #0056b3;
  min-width: 300px;
  max-width: 490px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

input[type="submit"]:hover{background-color: #0056b3;
  transition: background-color 0.3s ease-in-out; 

}

@media (max-width: 768px) {


  #title {
    font-size: 1.8em; 

  }

  #description {
    font-size: 1em; 
    
  }

    legend {
    padding-left: 0.25em; 
    padding-right: 0.25em; 

  }

  #survey-form {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

  }

 fieldset {
    margin: 0.5em auto;
    padding: 0.5em; 
  }

    label {
    margin: 0.25rem 0.5rem; 
  }

   input,
  textarea,
  select {
    max-width: 100%;
    padding: 0.8rem; 
    height: 2.5rem; 
  }

  
 input[type="submit"] {
    max-width: 100%;
    height: 3.5rem;
    font-size: 1rem;
  }

 select {
    
    max-width: 95%;
  }


   textarea {
    padding-bottom: 60px;
  }

}









