body {
  margin: 0;
  background: #f9f9f9;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  
}
.wrapper {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  width: 100%;
  padding: 2em;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#title {
  margin: 0.5em auto 0.5em;
  text-align: center;
  color: #0077cc;
  font-size: 2.5em;
  font-weight: bold;
}

#description {
  margin: 1em auto;
  text-align: center;
  color: #888;
  font-size: 1.2em;
}

#survey-form {
  width: 100%;
  min-width: 300px;
  padding-bottom: 1em;
  position: relative;
 
}

fieldset {
  width: 90%;
  border: 1px solid #ccc;
  padding-right: 1.4em;
  margin: 1em auto;
  border-radius: 10px;
}


legend {
  margin-bottom: 0em;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 0.5em;

 
  }

label {
  display: block;
  margin: 0.75rem 0;  
}
 
input,
textarea,
select {
  background-color: #fff;
  color: #333;
  margin: 10px 0 0 0;
  width: 100%;
  padding: 0.4em;
  min-height: 2.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
}

select { width: 102.5%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  }


input[type="submit"] {
  display: block;
  width: 90%;
  padding: 0.4em;
  margin:1em auto;
  margin-bottom: 0;
  min-height: 2.5em;
  font-size: 1.1rem;
  background-color: #0077cc;
  color: white;
  border-color: #0056b3;
  min-width: 300px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {background-color: #0056b3;

}
